*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", sans-serif;
}

body{
    background-color: #001016;
    color: #FAFAFF;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border: 1px solid #FAFAFF;
    color:#FAFAFF;
    background-color: #050505;
    margin: 8px 0 16px 0;
    width: 60vw;
    height: 24px;
    text-align: center;
}

#resultBtn{
    border: none;
    background-color: #058C42;
    color: #FAFAFF;
    margin-top: 32px;
    width: 200px;
    height: 32px;
}

#resposta{
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 96px;
}